{% extends 'base.html' %}
{% block title %}Edit Post - Flask Blog{% endblock %}
{% block content %}
  <section class="form-card">
    <h2>Edit Post</h2>
    <form method="post">
      <label>Title</label>
      <input type="text" name="title" value="{{ post.title }}" required />

      <label>Content</label>
      <textarea name="content" rows="8" required>{{ post.content }}</textarea>

      <div class="actions" style="margin-top: .75rem;">
        <button type="submit" class="button primary">Save</button>
        <a href="{{ url_for('post_detail', post_id=post.id) }}" class="button">Cancel</a>
      </div>
    </form>
  </section>
{% endblock %}
